In [4]:
import pandas as pd
import matplotlib as plt
import pathlib
import fastai

In [21]:
pathname = 'htmlData/raw/New Folder/'
filename = '2011-10.csv'
data = pd.read_csv(pathname+filename)

## Data Exploration
1. <a href=#Missing_values>Missing values</a>
2. <a href=#stock_code>Stock code</a>
3. <a href=#target>Target value</a>

In [22]:
data.columns

Index(['Stock code', 'market cap', 'price per sale', 'current price',
       'price per book', 'return on assets', 'return on equity',
       'revenue per share', 'quarterly revenue growth', 'total cash per share',
       'debt equity ratio', 'book value per share', 'operating cash flow',
       'volume', 'Price per Earnings ratio', 'earnings per shares', 'sector',
       'industry', 'total cash per dollar', 'book value per dollar',
       'earnings per dollar', 'revenue per dollar', 'free cash flow',
       'price to free cash flow', 's&p 52 week change', 'stock 52 week change',
       'FCF yield', 'EV / FCF'],
      dtype='object')

In [23]:
data.describe()

,current price,revenue per share,total cash per share,book value per share,earnings per shares,total cash per dollar,book value per dollar,earnings per dollar,revenue per dollar,free cash flow,price to free cash flow,FCF yield,EV / FCF
count,1827.000000,1827.000000,1827.000000,1827.000000,1827.000000,1.827000e+03,1.827000e+03,1.827000e+03,1.827000e+03,1.827000e+03,1827.000000,1827.000000,1827.000000
mean,26.719524,21.316169,4.627712,14.109392,1.503831,4.168141e+07,1.032196e+08,9.193005e+06,1.837179e+08,3.955481e+08,134.306005,0.114929,133.138280
std,34.772782,34.105752,8.999750,17.001688,2.978247,2.318116e+08,3.538400e+08,8.428304e+07,7.132713e+08,1.858426e+09,5701.265254,3.134216,5492.963038
min,0.010000,-60.680000,0.000000,-31.270000,-62.610000,0.000000e+00,-1.599290e+09,-2.462660e+09,-2.386747e+09,-1.706200e+10,-13064.979873,-79.130850,-12167.912593
25%,8.515000,5.570000,0.780000,5.645000,0.300000,1.974493e+06,1.084674e+07,4.802320e+05,1.256837e+07,8.125000e+06,4.141789,0.023560,4.744974
50%,18.230000,11.130000,2.410000,10.770000,1.090000,6.349754e+06,2.880048e+07,2.336591e+06,3.556739e+07,4.633400e+07,9.959170,0.059700,11.852879
75%,34.405000,25.370000,5.350000,18.695000,2.280000,2.026439e+07,7.293401e+07,8.156840e+06,1.061457e+08,2.036005e+08,18.332376,0.110799,21.904161
max,525.510000,547.040000,207.180000,341.530000,27.720000,5.986456e+09,8.418672e+09,8.995291e+08,1.383955e+10,2.940800e+10,243276.836158,102.324918,234406.779661

In [24]:
data.head(1)

,Stock code,market cap,price per sale,current price,price per book,return on assets,return on equity,revenue per share,quarterly revenue growth,total cash per share,...,total cash per dollar,book value per dollar,earnings per dollar,revenue per dollar,free cash flow,price to free cash flow,s&p 52 week change,stock 52 week change,FCF yield,EV / FCF
0,A,11.00B,1.68,31.68,2.59,7.25%,28.96%,18.67,22.20%,8.93,...,97872010,132286133,31454946,204621549,951000000,11.566772,-1.07%,-1.28%,0.094439,10.588854

In [25]:
data.isna().mean()*100

Stock code                   0.000000
market cap                   0.000000
price per sale               0.164204
current price                0.000000
price per book               2.791461
return on assets             1.423098
return on equity             3.995621
revenue per share            0.000000
quarterly revenue growth     1.970443
total cash per share         0.000000
debt equity ratio           30.322934
book value per share         0.000000
operating cash flow          2.244116
volume                       0.000000
Price per Earnings ratio    13.683634
earnings per shares          0.000000
sector                       2.736727
industry                     2.736727
total cash per dollar        0.000000
book value per dollar        0.000000
earnings per dollar          0.000000
revenue per dollar           0.000000
free cash flow               0.000000
price to free cash flow      0.000000
s&p 52 week change           0.054735
stock 52 week change         2.298851
FCF yield                    0.000000
EV / FCF                     0.000000
dtype: float64

## Replace spaces in all feature names with underscore

In [130]:
data.columns = data.columns.str.split().str.join('_')
data.columns = data.columns.str.replace('&','')

In [131]:
data.drop('free_cash_flow',axis=1,inplace=True)

In [18]:
features = data.columns.drop('Stock_code')

KeyError: "['Stock_code'] not found in axis"

In [17]:
features.size

NameError: name 'features' is not defined

In [16]:
int_feature = ['market_cap','volume','operating_cash_flow','total_cash_per_dollar' ,\
               'book_value_per_dollar',	'earnings_per_dollar'	,'revenue_per_dollar']

In [134]:
float_feature = [ 'price_per_sale', 'price_per_book',\
       'return_on_assets', 'return_on_equity', 'revenue_per_share',\
       'quarterly_revenue_growth', 'total_cash_per_share', 'debt_equity_ratio',\
       'book_value_per_share', \
       'Price_per_Earnings_ratio', 'earnings_per_shares',  'price_to_free_cash_flow',\
       'sp_52_week_change', 'stock_52_week_change']

### <a name="Missing_values"/> Missing values

In [135]:
data.isna().mean().sort_values()

Stock_code                  0.000000
price_to_free_cash_flow     0.000000
revenue_per_dollar          0.000000
earnings_per_dollar         0.000000
book_value_per_dollar       0.000000
total_cash_per_dollar       0.000000
earnings_per_shares         0.000000
volume                      0.000000
sp_52_week_change           0.000000
book_value_per_share        0.000000
stock_52_week_change        0.000000
total_cash_per_share        0.000000
quarterly_revenue_growth    0.000000
revenue_per_share           0.000000
return_on_equity            0.000000
return_on_assets            0.000000
current_price               0.000000
market_cap                  0.000748
price_per_sale              0.002245
sector                      0.011675
industry                    0.011675
price_per_book              0.065110
operating_cash_flow         0.171082
Price_per_Earnings_ratio    0.383326
debt_equity_ratio           0.383326
dtype: float64

In [136]:
missing_cols = data.isna()
missing_cols.columns = missing_cols.columns + '_missing'
missing_cols = missing_cols.loc[:,missing_cols.any()]

In [137]:
data.head()

,Stock_code,market_cap,price_per_sale,current_price,price_per_book,return_on_assets,return_on_equity,revenue_per_share,quarterly_revenue_growth,total_cash_per_share,...,earnings_per_shares,sector,industry,total_cash_per_dollar,book_value_per_dollar,earnings_per_dollar,revenue_per_dollar,price_to_free_cash_flow,sp_52_week_change,stock_52_week_change
0,A,13.19B,2.39,32.27,3.55,13.20%,34.26%,12.408,17.00%,5.503,...,6.86,Technology,Scientific & Technical Instruments,69692161,117411598,86877744,157139802,1.777626e+01,8.85%,-1.55%
1,AA,24.06B,0.84,27.75,1.67,6.14%,13.22%,32.673,18.90%,0.523,...,2.13,Basic Materials,Aluminum,16338143,516197850,66539664,1020680971,-1.432151e+02,8.85%,15.24%
2,AAA,7.65B,1.65,56.29,2.85,13.33%,23.16%,34.300,21.50%,5.338,...,4.26,Healthcare,Drug Manufacturers - Other,12895030,47879260,10290900,82858660,7.650000e+06,8.85%,1.65%
3,AAC,17.47M,2.59,0.28,1.27,-1.84%,5.84%,0.104,193.70%,0.031,...,0.01,Services,Business Services,6909678,47476178,2228928,23180857,-5.199405e+01,8.85%,-20.59%
4,AACC,595.52M,2.32,16.00,2.12,13.73%,17.76%,6.754,-3.00%,1.487,...,1.20,Financial,Credit Services,3459133,17228207,2791500,15711492,8.991017e+00,8.85%,-46.34%

In [138]:
missing_cols.head()

,market_cap_missing,price_per_sale_missing,price_per_book_missing,debt_equity_ratio_missing,operating_cash_flow_missing,Price_per_Earnings_ratio_missing,sector_missing,industry_missing
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False
3,False,False,False,True,False,True,False,False
4,False,False,False,False,False,False,False,False

In [139]:
data = pd.concat([data,missing_cols],axis=1)

   ### <p style="background-color:Tomato;">Discussion</p>
__When there are 40% of data is Nan__, it's not ideal to simply get rid of entire row which some entries contain Nan. 
Maybe we should find a way to fill in meaning value to those entries.

### <a name="stock_code"/>Some stock codes appear more than once, why?

In [140]:
# drop missing stock code
data.dropna(subset=['Stock_code'],inplace=True)

In [141]:
# data['code_count'] = data.groupby('Stock code', as_index=False)['Stock code'].transform(lambda s: s.count())

In [142]:
# data[data['code_count']>=2].head()

In [143]:
# print('There are %f percentage of data has the same stock code'% ((data['code_count']>=2).mean()*100))

#### Parsing text into numbers

In [144]:
KMB_cols = ['market_cap','operating_cash_flow','volume']
def transformKMB(x,cols,inplace= True):
    for col in cols:
        if x[col].dtypes !='object':
            return x[col]
        x[col] = x[col].fillna(0)
        
#         print(x[col].isna().any())
        temp = x[col].str.extract('([+-]?[0-9]*[.]?[0-9]+)([MKB]?)')
#         temp[0]  = temp[0].fillna(0)
        temp[0] = temp[0].astype('float')
        def helper(x):
            symb = {'K':1 , 'M':1000, 'B':1000000}
        #     print(x.shape)
            return x[0]*symb[x[1]] if x[1] in symb else x[0]
        if inplace:
            x[col] = temp.apply(helper,axis=1)
            x[col] = x[col].fillna(0).astype(int)
        else:
            return temp.apply(helper,axis=1)

In [145]:
transformKMB(data,KMB_cols)

In [146]:
data[KMB_cols]

      market_cap  operating_cash_flow  volume
0       13190000                   65       3
1       24060000                  699       5
2        7650000                    0       7
3          17470                   26     125
4         595520                    6     188
...          ...                  ...     ...
6676      744880                    5     251
6677       20160                    3       6
6678       50620                  379      34
6679         650                  101       1
6680     1190000                    5     189

[6681 rows x 3 columns]

#### deal with percentage

In [149]:
percentage_rows =['return_on_assets','return_on_equity','quarterly_revenue_growth','sp_52_week_change','stock_52_week_change']
def transformPer(x,cols,inplace=True):
    for col in cols:
        if x[col].dtypes !='object':
            continue

        num_sym = x[col].str.extract('([+-]?[0-9]*[.]?[0-9]+)([MKB]?)')
        num_sym[0] = num_sym[0].astype('float')
        def helper(x):
            symb = {'K':1 , 'M':1000, 'B':1000000}
            return x[0]*symb[x[1]] if x[1] in symb else x[0]
        
        if inplace:
            x[col] = num_sym.apply(helper,axis=1)
        else:
            x[col+'per'] = num_sym.apply(helper,axis=1)

In [150]:
transformPer(data,percentage_rows)

#### deal with xxx,xxx(comma) in numbers

In [151]:
# not sure which features contain comma, and therefore we include all features
comma_rows = features
def transformComma(x,cols,inplace = True):
    for col in cols:
        if x[col].dtypes !='object':
            continue
        if inplace:
            x[col] = x[col].str.replace(',' ,'')
        else:
            return x[col].str.replace(',' ,'')

In [152]:
transformComma(data,features)

### Cast all features into float64

In [153]:
data[float_feature] = data[float_feature].astype('float64')
data[int_feature] = data[int_feature].fillna(0)

In [154]:
data[int_feature].astype('int')

,market_cap,volume,operating_cash_flow,total_cash_per_dollar,book_value_per_dollar,earnings_per_dollar,revenue_per_dollar
0,13190000,3,65,69692161,117411598,86877744,157139802
1,24060000,5,699,16338143,516197850,66539664,1020680971
2,7650000,7,0,12895030,47879260,10290900,82858660
3,17470,125,26,6909678,47476178,2228928,23180857
4,595520,188,6,3459133,17228207,2791500,15711492
...,...,...,...,...,...,...,...
6676,744880,251,5,540559,3014462,531362,8868652
6677,20160,6,3,795289,732913,-9252385,2411857
6678,50620,34,379,237975,2186869,488476,4564120
6679,650,1,101,157705,3672294,-3829999,16153588
6680,1190000,189,5,1853445,-16290811,5783307,144938055

In [155]:
data.columns

Index(['Stock_code', 'market_cap', 'price_per_sale', 'current_price',
       'price_per_book', 'return_on_assets', 'return_on_equity',
       'revenue_per_share', 'quarterly_revenue_growth', 'total_cash_per_share',
       'debt_equity_ratio', 'book_value_per_share', 'operating_cash_flow',
       'volume', 'Price_per_Earnings_ratio', 'earnings_per_shares', 'sector',
       'industry', 'total_cash_per_dollar', 'book_value_per_dollar',
       'earnings_per_dollar', 'revenue_per_dollar', 'price_to_free_cash_flow',
       'sp_52_week_change', 'stock_52_week_change', 'market_cap_missing',
       'price_per_sale_missing', 'price_per_book_missing',
       'debt_equity_ratio_missing', 'operating_cash_flow_missing',
       'Price_per_Earnings_ratio_missing', 'sector_missing',
       'industry_missing'],
      dtype='object')

In [158]:
data['sp_average_change']  = data['sp_52_week_change'] ** (1/13)

data.drop('sp_52_week_change',axis=1,inplace=True)

### Overview of data after previous steps

In [47]:
data[features].head()

KeyError: "['s&p_52_week_change'] not in index"

### Now, all features except stock code are in float64.

In [48]:
data.dtypes

Stock_code                           object
market_cap                            int64
price_per_sale                      float64
current_price                       float64
price_per_book                      float64
return_on_assets                    float64
return_on_equity                    float64
revenue_per_share                   float64
quarterly_revenue_growth            float64
total_cash_per_share                float64
debt_equity_ratio                   float64
book_value_per_share                float64
operating_cash_flow                   int64
volume                                int64
Price_per_Earnings_ratio            float64
earnings_per_shares                 float64
sector                               object
industry                             object
total_cash_per_dollar                 int64
book_value_per_dollar                 int64
earnings_per_dollar                   int64
revenue_per_dollar                    int64
free_cash_flow                        int64
price_to_free_cash_flow             float64
stock_52_week_change                float64
market_cap_missing                     bool
price_per_sale_missing                 bool
price_per_book_missing                 bool
debt_equity_ratio_missing              bool
operating_cash_flow_missing            bool
Price_per_Earnings_ratio_missing       bool
sector_missing                         bool
industry_missing                       bool
s&p_average_change                  float64
dtype: object

folder = pathlib.Path(pathname)
target_folder = folder.joinpath('preprocessed')
if not target_folder.exists():
    target_folder.mkdir()
file_path = target_folder.joinpath(filename)

data.to_csv(file_path.as_posix(),index=False)